<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AndroidForiOS Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AndroidForiOS Watch Glance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AndroidForiOS Watch Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AndroidForiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AndroidForiOSToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83A4C0F218DC891E00DD378B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A4C11318DC891E00DD378B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2C0B4F1A2189C000321AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2C0B631A2189C000321AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D2C0B7C1A22BEEF00321AAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
